
services:
- type: web
  name: packlisten-converter
  env: python
  region: frankfurt
  plan: free
  buildCommand: pip install -r requirements.txt
  startCommand: gunicorn app:app
  envVars:
  - key: SECRET_KEY
    value: change-me
